html {
    font-size: 62.5%;
  }
  
  body {
    font-family: var(--font-family);
    color: var(--secondary);
    font-size: 1.6rem;
    background: var(--black);
  }
  
  p {
    margin: 1rem 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 1rem 0 2rem 0;
    color: var(--primary);
  }
  
  ul {
    list-style: none;
  }
  
  a {
    color: var(--primary);
    text-decoration: none;
  }
  
 
  


i{
    font-size: 3.5rem;
}