@use 'reset';
@use "base" as *;

header {
    min-height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
  background-color: #222222;

  p{
    font-family: "Playwrite HR", cursive;
    margin-right: 15rem;
  }
  ul {
    font-family: "Plus Jakarta Sans", sans-serif;
}
}
